<% content_for :head do %>
  <%= javascript_pack_tag 'artists_change' %>
<% end %>

<p id="notice"><%= notice %></p>

<h1 class='artist-list-title'>ArtistList</h1>

<%= form_with(url: '#', id: 'form-artists') do %>
  <div class="field">
    <%= label_tag :artists %>
    <%= select_tag :artists, options_for_select(@artists, params[:id]) ,include_blank: true %>
  </div>
<% end %>

<% unless @albums.blank? %>
  <% @albums.each do |album| %>
    <div class='results'>
      <ul>
        <li><%= album.artist %></li>
        <li><%= album.name %></li>
        <li><%= album.year %></li>
      </ul>
    </div>
  <% end %>
<% else %>
  <div class='results'>
    <ul>
      <li>No results <%= "for <strong>#{params[:id]}</strong>".html_safe if params[:id] %></li>
    </ul>
  </div>
<% end %>
