<div class="jumbotron">
  <h1 class="display-4">Music Collection App</h1>
  <hr class="my-4">
  <p>
    <%= link_to 'Register', new_user_registration_path, class:"btn btn-primary btn-lg", role: 'button' %>
    <%= link_to 'Sign In', new_user_session_path, class:"btn btn-primary btn-lg", role: 'button'  %>
  </p>
</div>