@import '~bootstrap/scss/bootstrap';

body {
  background-color: #e9ecef;

  .btn-primary {
    color: #fff;
  }

  .navbar-brand:hover {
    background-color: #fff;
  }

  .nav-link:hover {
    background-color: #fff;
  }

  nav {
    margin-bottom: 50px;
  }

  .artist-list-title {
    margin-bottom: 25px;
  }

  .results {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;

    ul {
      margin: 10px;
    }
  }
}
