<!DOCTYPE html>
<html>
  <head>
    <title>MusicCollectionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= yield :head %>
  </head>

  <body class="container">
    <% unless controller_name == 'welcome' %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to 'Music Collection App', root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <% unless controller_name == 'registrations' || controller_name == 'sessions' %>
            <ul class="navbar-nav">
              <li class="nav-item active"><%= link_to 'Albums', albums_path, class:"nav-link" %></li>
              <li class="nav-item active"><%= link_to 'Artists List', artist_list_index_path, class:"nav-link" %></li>
              <li class="nav-item active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"nav-link" %></li>
            </ul>
          <% end %>
        </div>
      </nav>
      <div class="row"></div>
    <% end %>

    <%= yield %>
  </body>
</html>
